.profile__edit-button{
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
}

.profile__edit-button:hover{
    opacity: 60%;
}

@media screen and (max-width: 320px) {  
    .profile__edit-button {
        margin: auto;
        width: 282px;
    }
  
  }
}