.popup-mesto__input {
	border: 0;
	width: 100%;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	background-color: transparent;
	margin-top: 54px;
	font-size: 14px;
	line-height: 17px;
	font-family: inherit;
	margin-bottom: 30px;
	padding: 0 0 13px 0;
}

.popup-mesto__input:nth-child(2n) {
	margin-bottom: 0;
	margin-top: 0;
}

@media screen and (max-width: 320px) {
	.popup-mesto__input {
		margin-top: 75px;
	}
}