.popup__input{
    border: 0;
    width: 358px;
    box-sizing: border-box;
    border-bottom: 1px solid;
    background-color: transparent;
    margin-top: 5px;
    font-size: 14px;
    font-family: inherit;
    margin-bottom: 30px;
}

@media screen and (max-width: 520px) {
    .popup__input{
        width: 238px;
        height: 14px;
    }
}