@import url(./blocks/body/body.css);
@import url(./blocks/close-img/close-img.css);
@import url(./blocks/element/__img/element__img.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__content/element__content.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/field/field.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/form-item/form-item.css);
@import url(./blocks/header/__line/header__line.css);
@import url(./blocks/header/header.css);
@import url(./blocks/heart/__button/heart__button.css);
@import url(./blocks/heart/__icon/heart__icon.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__opened/popup__opened.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/save-button/save-button.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/profile/__avatar-img/profile__avatar-img.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__edit-button/__image/profile__edit-button__image.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__redact/profile__redact.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__title-and-redact/profile__title-and-redact.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/save-button/save-button.css);
@import url(./blocks/redact/redact.css);
@import url(./blocks/save-text/save-text.css);





.icon__button {
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
