.popup__container{
    margin: auto auto auto auto;
    width: 430px;
    background-color: white;
    position: relative;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 0px 25px 0px #00000026;
    border-radius: 10px;
    padding-bottom: 37px;
}

@media screen and (max-width: 320px) {
    .popup__container {   
    max-width: 288px;
    }
    }

    @media screen and (max-width: 450px) {
        .popup__container {   
        max-width: 90%;
        margin-top: 123px;
        margin-bottom: auto;
        }
        }