.header__logo {
	margin: 45px auto 41px 0;
	max-width: 142px;
	height: 33px;
}

@media screen and (max-width: 910px) {
	.header__logo {
		margin: 45px auto 41px 20px;
	}
}

@media screen and (max-width: 320px) {
	.header__logo {
		max-width: 104px;
		margin: 28px auto 32px 27px;
	}
}