.profile__redact {
    border: 1px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    margin-top: 15px;
    margin-left: 18px;
    border: 1px solid white;
    background-image: url(../../../images/redact.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.8);
    }
    
    
    .profile__redact:hover{
    opacity: 60%;
    }

    @media screen and (max-width: 910px) {
        .profile__redact {
            height: 24px;
            width: 24px;
            margin-right: 0;
            margin-top: 0;
        }
           }
           
           

    @media screen and (max-width: 320px) {
     .profile__redact {
         width: 18px;
         height: 18px;
         margin: auto auto auto 10px;
     }
        }
        
        }