.popup-img {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    padding: 0;
    z-index: 1;
}

    @media screen and (max-width: 320px) {
        .popup-img {
        height: 100%;
        padding: 0;
        }
    }