.elements__heart-icon {
height: 19px;
width: 22px;
padding: 0;
margin-top: auto;
margin-bottom: auto;
background:  url(../../../images/Vector.svg);
border: none;
margin-right: 30px;
}

.elements__heart-icon:hover {
    opacity: 60%;
    }

