.elements {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 880px;
    margin: 51px auto 0;
}

@media screen and (max-width: 910px) {
  
    .elements {
        gap: auto;
        grid-template-columns: repeat(2, 1fr);
        max-width: 650px;
        margin: 36px auto 0;
    }
}

@media screen and (max-width: 680px) {
  
    .elements {
        grid-template-columns: repeat(1, 1fr);
        max-width: 480px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 380px) {
  
    .elements {
        grid-template-columns: repeat(1, 1fr);
        max-width: 282px;
    }
}