.elements {
    display: grid;
    gap: 17px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 880px;
    margin: 51px auto 144px;
}

@media screen and (max-width: 910px) {
  
    .elements {
        display: grid;
        gap: auto;
        grid-template-columns: repeat(2, 1fr);
        max-width: 650px;
        margin: 36px auto 48px;
    }
}

@media screen and (max-width: 320px) {
  
    .elements {
        display: grid;
        gap: auto;
        grid-template-columns: repeat(1, 1fr);
        max-width: 282px;
        margin: 36px auto 48px;
    }
}