.profile__title-and-redact {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    }

    @media screen and (max-width: 320px) {
        .profile__title-and-redact{
        max-width: 288px;
        display: flex;
        padding: 0;
        }
        
        }