.profile__avatar {
    width: 169px;
    height: 128px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 320px) {
    .profile__avatar {
        max-width: 169px;
        margin: auto;
        align-items: center;
        padding: auto;
    }
  
  }