.form-item{
    border: 0;
    width: 358px;
    height: 14px;
    box-sizing: border-box;
    border-bottom: 1px solid;
    background-color: transparent;
    margin-top: 5px;
    font-size: 14px;
    font-family: inherit;
}

@media screen and (max-width: 520px) {
    .form-item{
        border: 0;
        width: 238px;
        height: 14px;
        box-sizing: border-box;
        border-bottom: 1px solid;
        background-color: transparent;
        margin-top: 5px;
        font-size: 14px;
        font-family: inherit;
    }
}