.profile__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 22px;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 25px;
    color: white;
    }

    @media screen and (max-width: 768px) {
      .profile__info{
       margin: 30px auto 30px;
      }
    
    }

    @media screen and (max-width: 320px) {
        .profile__info {
        margin: 22px auto 36px;
        }
      
      }