.popup__close-img{
    width: 32px;
    height: 32px;
    position: absolute;
    right: -40px;
    top: -40px;
    background-image: url(../../images/Close\ Icon.svg);
    background-repeat: no-repeat;
    background-size: cover;

}

@media screen and (max-width: 540px) {

    .popup__close-img{
        width: 25px;
        height: 25px;
        position: absolute;
        right: -20px;
        top: -40px;

    }
  

@media screen and (max-width: 320px) {

    .popup__close-img{
        width: 20px;
        height: 20px;
        position: absolute;
        right: -10px;
        top: -50px;

    }
  
  }