.footer { 
    max-width: 880px;
    margin-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 67px;
}

@media screen and (max-width: 910px) {
    .footer{
    margin-bottom: 36px;
    margin-left: 20px;
    margin-right: auto;
    margin-top: 48px;
  }
    
    }