.profile__title-and-redact {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    }

    @media screen and (max-width: 520px) {
        .profile__title-and-redact{
        max-width: 288px;
        display: flex;
        padding: 0;
        }
        }